*.iml
/.idea/

pom.xml
*jar
/lib/
/classes/
/out/
/release/
/target/

/node_modules/
/.cljs_node_repl/
/.cljs_node_repl/criss_cross.cljs
/.lein-deps-sum/
/.lein-repl-history/
/.lein-plugins/

/demo/demo.bundle.js
/clojure_monkey.js
